.movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.movies__button {
    width: calc(100% - 70px*2);
    margin: 60px auto 70px;;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    height: 36px;
    transition: opacity 0.1s ease;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
}

.movies__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.movies__notfound-text {
    color: #000;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .movies__button {
        width: calc(100% - 30px*2);
        margin: 50px auto 80px;
    }
}

@media screen and (max-width: 767px) {
    .movies__button {
        width: calc(100% - 10px*2);
    }
}