.about-project {
    width: calc(100% - 140px);
    margin: 110px auto;
}
/* Стили с блоками section используются в секциях AboutProject, Techs и AboutMe */
.section {
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.section__title-text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000;
    padding: 0;
    margin: 0;
}

.about-project__container {
    display: flex;
    gap: 40px;
    color: #000;
    margin: 70px 0 110px;
    padding: 0;
}

.about-project__item {
    list-style: none;
}

.about-project__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0 0 26px;
}

.about-project__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.about-project__schedule {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.about-project__backend {
    width: 20%;
}

.about-project__frontend {
    width: 80%;
}

.about-project__time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#000;
    background-color: #2BE080;
    padding: 9px 0;
    margin: 0;
}

.about-project__time_color {
    background-color: #F2F2F2;
}

.about-project__stage {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
    padding: 14px 0 0;
}

@media screen and (max-width: 1023px) {
    .about-project {
        width: calc(100% - 100px);
        margin: 90px auto;
    }

    .about-project__text {
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__container {
        margin: 70px 0 93px;
    }
}

@media screen and (max-width: 767px) {
    .about-project {
        width: calc(100% - 18px*2);
        margin: 70px auto;
    }

    .about-project__container {
        flex-direction: column;
        gap: 56px;
        margin: 60px 0 70px;
    }

    .section {
        padding-bottom: 28px;
    }

    .section__title-text {
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px;
    }

    .about-project__time {
        font-size: 11px;
        line-height: 13px;
    }

    .about-project__backend {
        width: 35%;
    }

    .about-project__frontend {
        width: 65%;
    }

    .about-project__stage {
        font-size: 11px;
        line-height: 13px;
        padding: 10px 0 0;
    }
}