.techs {
    width: calc(100% - 140px);
    padding: 100px 70px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.techs__container {
    color: #000;
    margin: 0 auto;
}

.techs__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 90px 0 26px;
}

.techs__text {
    max-width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0 auto;
    padding: 0;
}

.techs__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding: 100px 0 0;
    width: calc(100% - 225px*2);
}

.techs__item {
    list-style: none;
    background-color: #E8E8E8;
    border-radius: 10px;
    padding: 21px 0 22px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 1435px) {
    .techs__list {
        width: calc(100% - 49%)
    }
}

@media screen and (max-width: 1023px) {
    .techs {
        width: calc(100% - 50px*2);
        padding: 90px 50px;
    }

    .techs__title {
        padding: 80px 0 22px;
    }

    .techs__text {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list {
        grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
        width: calc(100% - 10px*2);
        padding: 83px 0 0;
    }

    .techs__item {
        line-height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        width: calc(100% - 18px*2);
        padding: 70px 18px;
        background-color: #fff;
    }

    .techs__title {
        font-size: 30px;
        line-height: 36px;
        padding: 60px 0 24px;
    }

    .techs__text {
        font-size: 11px;
        line-height: 16px;
    }

    .techs__list {
        width: calc(100% - 53px*2);
        padding: 50px 0 0;
    }
}