.navtab {
    background-color: #000;
    padding: 24px 0;
}

.navtab__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navtab__item {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    transition: opacity 0.1s ease;
    color: #fff;
}

.navtab__item:hover {
    opacity: 0.6;
    cursor: pointer;
}